form {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin: 0 auto;
}
input, button {
    margin: 10px 0;
    padding: 8px;
    font-size: 16px;
}
input[type="checkbox"] {
    width: fit-content;
    /* margin-left: 0; */
    margin : 10px auto;
}
.mt-square3d-matcha label:before {
    border-radius: 100px;
    height: 3.6em;
}
label {
    margin: 20px auto;
    border-radius: 100px;
}