#clock-hours {
    font-size: 48px;
}

#clock-seconds {
    font-size: 20px;
    margin-left: 5px;
}

select#workplace {
  font-size: 18px;
  padding: 8px 12px;
  width: 200px;
  height: 44px;
}


/* モーダル非表示設定 */

#modalOverlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 1000;
}

#modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
  text-align: center;
  z-index: 1001;
}

#modal p {
  margin: 10px 0;
}
