<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>勤怠入力</title>
  <!-- 外部CSS読み込み -->
  <link rel="stylesheet" href="/css/stlye.css" th:href="@{/css/style.css}">
  <link rel="stylesheet" href="/css/attendance_input.css" th:href="@{/css/attendance_input.css}">
</head>
<body>

<header class="top-bar">
  <nav class="top-nav">
    <a href="attendance_input">勤怠入力</a>
    <a href="attendance_status">勤怠状況</a>
    <a href="tellandplace">連絡先・勤務地編集</a>
    <a href="login" class="logout">ログアウト</a>
  </nav>
</header>

  <hr>

  <main>
    <div class="datetime" id="date"></div>
    <div class="time">
    <span id="clock-hours"></span><span id="clock-seconds"></span>
    </div>
    <p th:if="${status == 1}" style="color: tomato;">
      退勤中
    </p>
    <p th:if="${status == 0}" style="color: royalblue;">
      出勤中  
    </p>
    <p th:if="${status == 2}" style="color: seagreen;">
      本日は既に勤務済みです。<br>
      お疲れ様でした。
    </p>

    <form id="checkInForm" th:action="@{/stamp}" method="post">
      <!-- true:出勤処理、false:退勤処理 -->
      <input type="hidden" name="status" th:value="${status}">
      <select th:if="${status != 2}"  name="workplaceId" id="workplaceId">
        <option value="">選択してください</option>
        <option th:each="workplace : ${selectAll}" th:text="${workplace.workplaceName}" th:value="${workplace.workplaceId}" th:selected="${workplace.workplaceId == workplaceId}"></option>
      </select>
      <p id="alertAreaSelect" style="color:red;"></p>
      <p th:if="${status == 1}">
        <input type="submit" value="出勤">
      </p>
      <p th:if="${status == 0}">
        <input type="submit" value="退勤">
      </p>
    </form>
  </main>

  <!-- モーダル -->
  <div id="modalOverlay"></div>
  <div id="modal">
    <p>Success</p>
    <p th:if="${status == 1}">出勤しました。</p>
    <p th:if="${status == 0}">退勤しました。</p>
  </div>

  <p><span th:if="${errorMessage}" th:text="${errorMessage}" style="color: red;"></span></p>

  <!-- 外部JS読み込み -->
  <script th:src="@{js/attendance_input.js}"></script>

</body>
</html>