<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>ログイン</title>
</head>
<body>

    <h1>勤怠さん</h1>
    <form action="attendance_input" method="get"><!-- 実装するときはpost-->
        <p>
          <input type="text" id="User-id" name="User-id" placeholder="User ID" required>
        </p>
    
        <p>
          <input type="password" id="password" name="password" placeholder="Pass word" required>
        </p>
    
        <p>
          <input type="submit" value="ログイン">
        </p>
    </form>

</body>
</html>
