<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>ログイン</title>
</head>
<body>

    <h1>勤怠さん</h1>
    <form action="/api/signin" method="post">
        <p>
          <input type="text" id="username" name="username" placeholder="ユーザーID/ユーザー名" required>
        </p>
    
        <p>
          <input type="password" id="password" name="password" placeholder="パスワード" required>
        </p>
    
        <p>
          <input type="submit" value="ログイン">
        </p>
    </form>

</body>
</html>
