<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>連絡先 / 勤務地 編集</title>

  <link rel="stylesheet" href="/css/style.css" th:href="@{/css/style.css}">
  <link rel="stylesheet" href="/tellandplace.css" th:href="@{/css/tellandplace.css}">

  <script th:src="@{js/tellandplace.js}" defer></script>
</head>
<body>

  <!-- メニュー -->
  <header class="top-bar">
    <nav class="top-nav">
      <a href="attendance_input">勤怠入力</a>
      <a href="attendance_status">勤怠状況</a>
      <a href="tellandplace">連絡先・勤務地編集</a>
      <a href="login" class="logout">ログアウト</a>
    </nav>
  </header>

  <!-- サブヘッダー（戻るボタン） -->
  <header class="subheader">
    <a href="#" id="back-btn" class="back">← 戻る</a>
  </header>

  <h1>連絡先 / 勤務地 の更新</h1>
  <main>
    <form th:action="@{/updateUser}" method="get" id="updateForm">
      <p id="errorMessage" style="color: red;"><span th:if="${errorMessage}" th:text="${errorMessage}"></span></p>

      <select id="workplace" name="workplace">
      <option value="">勤務地を選択</option>

      <option th:each="workplace : ${selectAll}"
          th:text="${workplace.workplaceName}"
          th:value="${workplace.workplaceId}"
          th:selected="${workplace.workplaceId == selectedWorkplaceId}">
      </option>
      </select>

      <input type="text" id="contact" name="contact"
       th:value="${contact}">

      <p>
        <input type="submit" value="保存">
      </p>

    </form>
  </main>

    <!-- モーダル -->
  <div id="modalOverlay"></div>
  <div id="modal">
    <p class="success">Success</p>
    <p class="comment">連絡先、勤務地を変更しました。</p>
  </div>

</body>
</html>